.swiper-button-next,
.swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    user-select: none !important;
    border-radius: 100%;
    font-size: 20px;
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
    opacity: .5;
    z-index: 1;
    top: 40% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: unset !important;
}